/*
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: white;
}
*/
/*
.section1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 100px;
    
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    
    font-size: 18px;
    color: #E5E7EB;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
}

.big-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.little-text {
    font-size: 18px;
    color: #E5E7EB; 
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: white;
}
*/

.entire-body {
    margin: 48px;
}
.nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 48px; 
}


.nav-right a {
    color: white;
    margin: 10px;
}
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    margin: 48px;
    padding-right: 50px;
}


.header {
    display: flex;
    background-color: #1F2937;
}

.header-right {
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: 48px;
    padding: 100px;
}

.header-left {
    justify-content: center;
    margin: 48px;
}

.header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 2px;
}

.header-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 2px;
}

.header-signup-button button {
    background-color: #3882F6;
    color: white;
    margin: 6px;
    border: none;
    border-radius: 8px;
    padding: 12px;
}

.information-header p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    /* width: 80%; */
}

.information-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin: 48px;
}

.box-container {
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 50px;
    margin: 48px;
    justify-content: space-between;
}

.information-sub-text {
    display: flex;
    justify-content: space-between;
    margin: 48px;
    align-items: center;
}

.sub-text-box {
    max-width: 125px;
    justify-content: space-between;
}

.quote-box {
    background-color: #E5E7EB;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px;
}

.quote-message {
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    margin: 48px;
}

.quote-author {
    display: flex;
    font-size: 18px; 
    font-weight: bold;
    justify-content: end;
    
}

.call-to-action-box {
    background-color: #3882F6;
    margin: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.call-to-action-text {
    margin: 20px;
    color: white;
}

.call-to-action-button {
    margin: 48px;
}

.call-to-action-button button {
    border: solid;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
}

.sign-up-button {
    background-color: transparent;
    color: white;
    margin: 6px;
    border: solid;
    border-radius: 8px;
    padding: 12px;
}
















.footer {
    display: flex;
    background-color: #1F2937;     
    align-items: center;
    justify-content: center;   
    padding: 24px;
}

.footer-text {
    font-size: 18px;
    color: #F9FAF8;
}

.random-information-container {
    display: flex;
}
.info-container {
    display: flex;
    justify-content: space-between;
    margin: 48px;
}

.info-card {
    border: solid;
    padding: 30px;
    border-radius: 10px;
}

.info-container-text {
    display: flex;
    margin: 48px;
    justify-content: space-between;
}